<div class="dropdown"  style="margin-right: 15px">
    <button class="btn btn-default dropdown-toggle" type="button" id="copy-clipboard-{{ media.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-link"></i> Lien
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="copy-clipboard-{{ media.id }}">
        {% for format in wd_media_formats(media) %}
            <li><a data-link="{{ wd_media_link(media, format) }}" class="js-btn-link" href="#">{{ format }}</a></li>
        {% endfor %}
    </ul>
</div>