[data-controller="cropper_controller"] {
    display : flex;
    width   : 100%;

    .cropper-canvas {
        border: solid red 2px;
    }

    .img-container {
        width  : 1350px;
        height : 700px;

        img {
            display    : block;
            max-width  : 1350px;
            max-height : 700px;
        }
    }

    .config-container {
        margin-left : 15px;
        width       : 300px;
    }

}
